

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath

# Eclipse Core
.project

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
