<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>CDB-app</display-name>

	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<servlet-class>DashboardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddComputer</servlet-name>
		<servlet-class>AddComputerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditComputer</servlet-name>
		<servlet-class>EditComputerServlet</servlet-class>
	</servlet>
	

	<welcome-file-list>
		<welcome-file>dashboard</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<taglib>
			<taglib-uri>page</taglib-uri>
			<taglib-location>/WEB-INF/mylib.ltd</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
